 body {
	 background-color: #333;
}

 .app {
	 border-radius: 3px;
	 position: fixed;
     top: 10%;
     right: 10%;
     width: 57%;
	 padding: 1.5em 3em;
	 display: table;
	 background-color: #fff;
}

.addItem {
	/* display: flex;
	align-items: center; */
	
	/* width: 105%; */
    justify-content: space-between;
}

.item {

    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
	font-size: 1em;
	width: 100%;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

form {
	display: flex;

	justify-content: space-between;
}




input[type=number]{
    width: 20%;
} 
input[type=text]{
    width: 80%;
} 


button {
	 height: 100%;
	 border: none;
	 border-radius: 3px;
	 color: #fff;
	 background-color: #333;
	 outline: none;
	 font-size: 0.85em;
	 padding: 8px 18px 6px 18px;
	 /* margin-top: 30px; */
	 opacity: 1;
}


.share-button {
	display: flex;
	justify-content: center; 
}

#share-button {
    top: 10%;
    display: flex;
	justify-content: center; 
	margin: 1.5em;
	padding: 6px 10px;

	width: 80%;

}

:focus {
    outline: 3px solid red;   
}

button:hover {
	 opacity: 0.9;
}



